<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js" defer></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
        <script src="assets/script.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="assets/debug.css">
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <!-- Background container -->
        <div class="container">
            <!-- Top background -->
            <div class="top-container"></div>
            <!-- Bottom background -->
            <div class="bot-container"></div>
        </div>

        <!-- Chat window -->
        <div id="app" class="window">

            <!-- Left side of window -->
            <div class="chat-list">
                <div class="user-info flex-sb">
                    <div class="info flex-ai-c">
                        <img src="img/avatar_io.jpg" alt="">
                        <div class="user-name blk-text">Sofia</div>
                    </div>
                    <div class="control flex-ai-c">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>                   
                </div>
                <div class="notification-setting flex-ai-c">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div>
                        <div>Ricevi notifiche per i nuovi messaggi</div>
                        <div class="grey-text underline">Attiva notifiche desktop</div>
                    </div>
                </div>
                <div class="chat-search flex-ai-c">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>Cerca o inizia una nuova chat</span>
                </div>
                <ul class="chats">
                    <li
                        v-for="(contact, i) in contacts"
                        :class="{active: i == activeIndex}"
                        @click="setActiveIndex(contact)"
                        class="chat flex-sb"
                    >
                        <img :src="contact.avatar" :alt="contact.name">
							<div class="info flex-g">
								<div class="name">{{ contact.name }}</div>
								<div class="last-message grey-text">
									{{ contact.messages[contact.messages.length - 1].message }}
								</div>
							</div>
							<div class="last-date grey-text flex-as-e">{{ contact.messages[contact.messages.length - 1].date.substring(0, 10) }}</div>
                    </li>
                </ul>
            </div>
            
            <!-- Right side of window -->
            <div class="chat-conversation">
                <div class="top-bar flex-sb">
                    <div class="info flex-ai-c">
                        <img :src="contacts[activeIndex].avatar" alt="">
                        <div class="div">
                            <div class="user-name">{{ contacts[activeIndex].name }}</div>
                            <div class="last-access grey-text">
                                Ultimo accesso alle
                                {{ contacts[activeIndex].messages[contacts[activeIndex].messages.length - 1].date.substring(11,16) }}
                            </div>
                        </div>
                    </div>
                    <div class="control flex-ai-c">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>   
                </div>

                <div class="conversation">
                    <div
                        v-for="objMessage in contacts[activeIndex].messages"
                        :class="objMessage.status == 'sent' ? 'sent' : 'received'"
                       
                    >
                        <div class="text">
							{{ objMessage.message }}
						</div>
						<div class="date grey-text">
                            {{ objMessage.date.substring(11, 16) }}
                        </div>
                    </div>
                </div>

                <div class="bottom-bar flex-ai-c">
                    <i class="fa-regular fa-face-smile"></i>
                    <div class="text-box flex-ai-c">
                        <input
                            type="text"
                            placeholder="Scrivi un messaggio"
                            v-model="textMsg"
                            @keyup.enter="sendMsg(textMsg, activeIndex)"
                        >
                    </div>
                    <i class="fa-solid fa-microphone"></i>
                </div>              
            </div>
        </div>
    </body>
</html>