.chat-list {
    background-color: blue;
}

.chat-conversation {
    background-color: salmon;
}

.chat-list > div,
.top-bar,
.bottom-bar {
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
}

.conversation {
    width: 100%;
    height: calc(100% - 2 * 70px);
}